<footer id="site-footer">

  <div class="primary-footer">
    <div class="main-col">

      <div class="past-years-aligner">
        <div class="site-title">
          <a href="../">
            
            <span class="site-title-text">Chorebook</span>
          </a>
        </div>
      </div>

      <div class="nav link-list">
        <ul class="site-nav clearfix">
          <li class="nav-golden"><a href="./golden-tweets.html">Page 1</a></li>
          <li class="nav-pulse"><a href="./pulse-of-the-planet.html">Page 3</a></li>
          <li class="nav-only"><a href="./only-on-twitter.html">Page 4</a></li>
          <li class="nav-trends"><a href="./trends.html">Page 5</a></li>
          <li class="nav-voices"><a href="./new-voices.html">Page 6</a></li>
          <li class="nav-my"><a href="./your-year.html?section=new-voices">Some blah</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="secondary-footer">
    <div class="main-col">
      <p class="copyright">&copy; 2012 Chorebook</p>   
    </div>
  </div>

</footer>
