<header id="top-bar">
  <div class="main-col">

    <a href="#menu" class="menu-button">Menu</a>

  </div>
</header>
<header id="page-header">
  <div class="main-col">
    <div id="menu">
      <ul class="site-nav clearfix">
        <!-- <li class="nav-golden"><a href="./golden-tweets.html">Golden Tweets</a></li>
               <li class="nav-pulse"><a href="./pulse-of-the-planet.html">Pulse of the planet</a></li> -->
        <!-- <li class="nav-only"><a href="./only-on-twitter.html">Only on Twitter</a></li> -->
                <li class="nav-trends"><a href="./trends.html">Children</a></li>
                <li class="nav-voices"><a href="./new-voices.html">Chores</a></li> 
        <li class="nav-my"><a href="./your-year.html?section=new-voices">Rewards</a></li>
      </ul>
    </div>
    <h1 id="page-title">Chorebook</h1>
    <div id="desktop-nav">
      <ul class="site-nav clearfix">
        <!-- <li class="nav-golden"><a href="./golden-tweets.html">Golden Tweets</a></li>
               <li class="nav-pulse"><a href="./pulse-of-the-planet.html">Pulse of the planet</a></li> -->
        <li class="nav-only"><a href="./only-on-twitter.html">Children</a></li>
        <li class="nav-trends"><a href="./trends.html">Chores</a></li>
        <li class="nav-voices"><a href="./new-voices.html">Rewards</a></li>
        <li class="nav-my"><a href="./your-year.html?section=new-voices">Logout</a></li>
      </ul>
    </div>
  </div>
</header>